epl
/__pycache__/__init__.cpython-39.pyc
db.sqlite3
.env
*cpython-*
*__pycache__*
.pytest_cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
