# Python Bytecode
__pycache__/
*.pyc
*cpython-*

# Environment Files
.env

# Database Files
db.sqlite3

# Test and Cache Files
.pytest_cache/
*.pyo

# Venv
epl/

# IDE and Editor Files
.DS_Store
*.swp
*.swo

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Vercel Files
.vercel/

# Other
*.log
